html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
  }

.navbar-brand{
    font-weight: 600;
    font-size: 1.3rem;
}

.nav-link{
    color: #000;
}

.slider-section{
    overflow-y: auto;
    max-height: 499px;
    display: flex;
    background-image: url('https://img.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg?w=826&t=st=1660687227~exp=1660687827~hmac=97b7fd7ff3d666a26346d7bc1c942d773a1c44b6e29ece8252cdade8b2051ac1');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%; 
    height: 499px;
    color: #fff;
    font-weight: 500; 
    padding: 0 3rem 1rem 3rem;
}

#content-slider{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 70%;
}

#content-slider button{
    width: 50%;
    height: auto;
    border-radius: 1rem;
    border: none;
}

#content-slider button:hover{
    width: 50%;
    height: auto;
    border-radius: 1rem;
    background-color: #fca311;
    color: #fff;
    border: none;
}


#carousel{
    background-color: #fca311;
    Padding:2rem;
}

.carousel-item{
    display: none;
    transition: ease-in-out 0.6s;
}

.carousel-item.active{
    display:flex; 
    justify-content:center ;
}

.mini-section{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content p{
    display: flex;
    justify-content: center;
    font-weight: 600;
}


.header-text{
    
    color: #fca311;
    justify-content: center;
    display: flex;
    padding: 1rem 0;
}

.text-section{
    overflow-y: auto;
    max-height: 499px;
    display: flex;
    background-color: #14213D; 
    width: 100%; 
    height: 499px;
    color: #fff;
    font-weight: 500; 
    padding: 0 3rem 1rem 3rem;
}

#about-us{
    width:60%;
}

@media (max-width: 992px)
{
  #image-text-section
   {
    display: none;
   }
   #about-us{
    width: 100%;
   }
   
   .video-video-section{
    display: none;
   }
}

.title-text-section{
    padding: 3rem 0;
}

.text-text-section{
    font-weight: 400;
    font-size: larger;
}

/*CSS JOHN*/

.video-section{
    overflow-y: auto;
    max-height: 499px;
    display: flex;
    width: 100%; 
    height: 499px;
    font-weight: 500; 
    padding: 0 3rem 1rem 3rem;
    background-image: url('img/Particulas.png');
    background-repeat: no-repeat;
}
#video-div{
    width: 40%;
}
.title-video-section{
    padding: 3rem 0;
    color: #fca311;
}
.text-video-section{
    font-weight: 400;
    font-size: larger;
    color: #000;
}
.video-video-section{
    padding: 9rem 0 0 3rem;
}

.micro-section{
    width: 100%;
    background-color: #14213D;
    padding: 0 0 3rem 3rem;
}
.title-micro-section{
    color: #fff;
    font-size: larger;
    text-align: center;
    padding: 1rem 0;
}
.micro-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#footer-redes{
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#footer-redes-imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-img{
    margin-left: 6rem;
}
.footer-img:hover{
    scale: 1.2;
    transition: 0.5s;
}
.footer-img-and-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-img-and-text p{
    margin-left: 0.5rem;
}
#footer-form-button{
    background-color: #fca311;
}
#footer-form-button:hover{
    background-color: #cf850c;
}
#footer-links ul{
    list-style: none;
}
.footer-links-link{
    color: #000;
}
#footer-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#copyright{
    display: flex;
    justify-content: center;
}

.calixto{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.calixto img{
    max-width: 100%;
    max-height: 100%;
}

.head-notice{
    color: #fff;
    justify-content: center;
    display: flex;
    padding: 0rem 3rem 0rem;
}

.noticia{
    width: 350px;
    height: 350px;
    border-radius: 1rem;
    background-color: #fff;
}

.manchete{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.calixto h5{
    max-width: 100%;
    max-height: 100%;
    background-color: #14213D;
    color: f1f1f1;
}

.noticia6{
    display: none;
    width: 310px;
    height: 310px;
    border-radius: 1rem;
    background-color: #fff;
}

.head-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.botao{
    width: 150px;
    height: 50px;
    border-radius: 1rem;
    background-color: #14213D;
    display: flex;
    justify-content: center;
    align-items: center;
}

