html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
  }

.navbar-brand{
    font-weight: 600;
    font-size: 1.3rem;
}

.nav-link{
    color: #000;
}

#carousel{
    background-color: #fca311;
}

.carousel-item{
    display: none;
    transition: ease-in-out 0.6s;
}

.carousel-item.active{
    display:flex; 
    justify-content:center ;
}

.mini-section{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content p{
    display: flex;
    justify-content: center;
    font-weight: 600;
}


.header-text{
    
    color: #fca311;
    justify-content: center;
    display: flex;
    padding: 1rem 0;
}

.text-section{
    overflow-y: auto;
    max-height: 499px;
    display: flex;
    background-color: #14213D; 
    width: 100%; 
    height: 499px;
    color: #fff;
    font-weight: 500; 
    padding: 0 3rem 1rem 3rem;
}

#about-us{
    width:60%;
}

@media (max-width: 992px)
{
  #image-text-section
   {
    display: none;
   }
   #about-us{
    width: 100%;
   }
}

.title-text-section{
    padding: 3rem 0;
}

.text-text-section{
    font-weight: 400;
    font-size: larger;
}

/*CSS JOHN*/

.video-section{
    overflow-y: auto;
    max-height: 499px;
    display: flex;
    width: 100%; 
    height: 499px;
    font-weight: 500; 
    padding: 0 3rem 1rem 3rem;
    background-image: url('img/Particulas.png');
    background-repeat: no-repeat;
}
#video-div{
    width: 40%;
}
.title-video-section{
    padding: 3rem 0;
    color: #fca311;
}
.text-video-section{
    font-weight: 400;
    font-size: larger;
    color: #000;
}
.video-video-section{
    padding: 9rem 0 0 3rem;
}

.micro-section{
    width: 100%;
    height: 200px;
    background-color: #14213D;
    padding: 0 0 0 3rem;
}
.title-micro-section{
    color: #fff;
    font-size: larger;
    text-align: center;
    padding: 1rem 0;
}
.micro-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-contatos{
    width: 100%;
    height: 499px;
    background-color: #000;
}
#logo-section-contatos{
    padding: 3rem 0 0 45%;
}
#img-section-contatos{
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#img-section-contatos div:hover{
    scale: 1.2;
}
#final-section-contatos p{
    color: white;
}
.footer-button{
    display: inline-block;
    font-weight: bold;
    background-color: #fff;
    padding: 1rem;
    margin: 3rem 0 0 25%;
    border-radius: 5px;
}
.footer-button:hover{
    transition: .5s;
    scale: 1.15;
}
#final-section-contatos p{
    display: inline-block;
    width: 30%;
    margin-left: 10rem;
    padding: 1rem 0;
}
#final-section-contatos a{
    color: #fca311;
}
